HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/backend/obj
/backend/obj
/backend/.vs/backend/CopilotIndices
/backend/.vs/backend
/backend/.vs
*.config
*.db
/backend/backend/Properties
/backend/backend/obj
/backend/.vs/backend/config
backend/.vs/backend/config/applicationhost.config
/backend/.vs
/backend/backend/.vs
/backend/.vs
backend/.vs/ProjectEvaluation/backend.metadata.v9.bin
/backend/obj
